/* Size for brand */
nav .navbar-brand {
    font-size: xx-large; /* Sets the font size for the brand name to be extra large */
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe; /* Applies a specific shade of blue to elements with the class 'blue' inside the brand name */
}

nav .navbar-brand .red {
    color: #ea433b; /* Applies a specific shade of red to elements with the class 'red' inside the brand name */
}

nav .navbar-brand .yellow {
    color: #f5b82e; /* Applies a specific shade of yellow to elements with the class 'yellow' inside the brand name */
}

nav .navbar-brand .green {
    color: #2e944b; /* Applies a specific shade of green to elements with the class 'green' inside the brand name */
}

/* Table styling */
th, td {
    border: 1px solid #ddd; /* Adds a light gray border around table headers and cells */
    padding: 8px; /* Adds padding inside table headers and cells for spacing */
}
