{% extends "layout.html" %}

{% block title %}
    change_password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current_password" placeholder="Type your current_password: " type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_password" placeholder="Type new_password: " type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_password_confirmation" placeholder="Type confirmation of the password: " type="password">
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
{% endblock %}
