{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Stocks Owned</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Cost</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.total_cost }}</td>
                <td>{{ transaction.action }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
